{% extends "_layout.html" %}

{% block title %}Landscape | Try Landscape{% endblock %}
{% block description %}Choose the best Landscape for you{% endblock %}

{% block content %}
<section class="p-strip">
  <div class="row">
    <h1>Choose the best Landscape for you</h1>
    <table>
      <thead>
        <tr>
          <th>Feature</th>
          <th>Landscape SaaS</th>
          <th>Landscape On-premises</th>
          <th>Ubuntu Advantage</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td>No server software to maintain</td>
          <td>Runs behind your firewall</td>
          <td>Landscape with technical support</td>
        </tr>
        <tr>
          <td>Software and inventory management</td>
          <td class="u-align--center"><img src="https://assets.ubuntu.com/v1/90067499-green-tick.svg" alt="Green tick" /></td>
          <td class="u-align--center"><img src="https://assets.ubuntu.com/v1/90067499-green-tick.svg" alt="Green tick" /></td>
          <td class="u-align--center"><img src="https://assets.ubuntu.com/v1/90067499-green-tick.svg" alt="Green tick" /></td>
        </tr>
        <tr>
          <td>Security patches and notices</td>
          <td class="u-align--center"><img src="https://assets.ubuntu.com/v1/90067499-green-tick.svg" alt="Green tick" /></td>
          <td class="u-align--center"><img src="https://assets.ubuntu.com/v1/90067499-green-tick.svg" alt="Green tick" /></td>
          <td class="u-align--center"><img src="https://assets.ubuntu.com/v1/90067499-green-tick.svg" alt="Green tick" /></td>
        </tr>
        <tr>
          <td>System monitoring and custom reporting</td>
          <td class="u-align--center"><img src="https://assets.ubuntu.com/v1/90067499-green-tick.svg" alt="Green tick" /></td>
          <td class="u-align--center"><img src="https://assets.ubuntu.com/v1/90067499-green-tick.svg" alt="Green tick" /></td>
          <td class="u-align--center"><img src="https://assets.ubuntu.com/v1/90067499-green-tick.svg" alt="Green tick" /></td>
        </tr>
        <tr>
          <td>Inventory management</td>
          <td class="u-align--center"><img src="https://assets.ubuntu.com/v1/90067499-green-tick.svg" alt="Green tick" /></td>
          <td class="u-align--center"><img src="https://assets.ubuntu.com/v1/90067499-green-tick.svg" alt="Green tick" /></td>
          <td class="u-align--center"><img src="https://assets.ubuntu.com/v1/90067499-green-tick.svg" alt="Green tick" /></td>
        </tr>
        <tr>
          <td>Compliance auditing</td>
          <td class="u-align--center"><img src="https://assets.ubuntu.com/v1/90067499-green-tick.svg" alt="Green tick" /></td>
          <td class="u-align--center"><img src="https://assets.ubuntu.com/v1/90067499-green-tick.svg" alt="Green tick" /></td>
          <td class="u-align--center"><img src="https://assets.ubuntu.com/v1/90067499-green-tick.svg" alt="Green tick" /></td>
        </tr>
        <tr>
          <td>Role based access control</td>
          <td class="u-align--center"><img src="https://assets.ubuntu.com/v1/90067499-green-tick.svg" alt="Green tick" /></td>
          <td class="u-align--center"><img src="https://assets.ubuntu.com/v1/90067499-green-tick.svg" alt="Green tick" /></td>
          <td class="u-align--center"><img src="https://assets.ubuntu.com/v1/90067499-green-tick.svg" alt="Green tick" /></td>
        </tr>
        <tr>
          <td>Custom software repositories</td>
          <td></td>
          <td class="u-align--center"><img src="https://assets.ubuntu.com/v1/90067499-green-tick.svg" alt="Green tick" /></td>
          <td class="u-align--center"><img src="https://assets.ubuntu.com/v1/90067499-green-tick.svg" alt="Green tick" /></td>
        </tr>
        <tr>
          <td>Kernel livepatch service</td>
          <td></td>
          <td></td>
          <td class="u-align--center"><img src="https://assets.ubuntu.com/v1/90067499-green-tick.svg" alt="Green tick" /></td>
        </tr>
        <tr>
          <td>IP legal assurance</td>
          <td></td>
          <td></td>
          <td class="u-align--center"><img src="https://assets.ubuntu.com/v1/90067499-green-tick.svg" alt="Green tick" /></td>
        </tr>
        <tr>
          <td>Ceph support</td>
          <td></td>
          <td></td>
          <td class="u-align--center"><img src="https://assets.ubuntu.com/v1/90067499-green-tick.svg" alt="Green tick" /></td>
        </tr>
        <tr>
          <td>24/7 phone, email and portal support</td>
          <td></td>
          <td></td>
          <td class="u-align--center"><img src="https://assets.ubuntu.com/v1/90067499-green-tick.svg" alt="Green tick" /></td>
        </tr>
        <tr>
          <td>Unlimited Ubuntu KVM guest support</td>
          <td></td>
          <td></td>
          <td class="u-align--center"><img src="https://assets.ubuntu.com/v1/90067499-green-tick.svg" alt="Green tick" /></td>
        </tr>
        <tr>
          <td>Unlimited Ubuntu LXD guest support</td>
          <td></td>
          <td></td>
          <td class="u-align--center"><img src="https://assets.ubuntu.com/v1/90067499-green-tick.svg" alt="Green tick" /></td>
        </tr>
      </tbody>
    </table>
    <table>
      <thead>
        <tr>
          <th>Product pricing</th>
          <th>Landscape SaaS</th>
          <th>Landscape On-premises</th>
          <th>Ubuntu Advantage</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td>
            1¢ per machine per hour
          </td>
          <td>
            Free for up to 10 machines
          </td>
          <td>
            <a href="https://www.ubuntu.com/support/plans-and-pricing" class="p-link--external">See pricing</a>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <p>Get &dollar;100 free credit<br />for 60 days</p>
          </td>
          <td>
            <p>UA subscription required for more than 10 machines</p>
          </td>
          <td>
            <a href="https://www.ubuntu.com/support/plans-and-pricing" class="p-link--external">See pricing</a>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <form action="/signup" method="GET">
              <button type="submit" class="p-button--positive">Get Landscape SaaS</button>
            </form>
          </td>
          <td>
            <a href="/set-up-on-prem">Set up your Landscape<br />on-premises&nbsp;&rsaquo;</a>
          </td>
          <td>
            <a href="https://www.ubuntu.com/support" class="p-link--external">Learn more Ubuntu Advantage</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
{% endblock content %}
