@charset "UTF-8";

//settings
@import 'settings_colors';

// import vanilla-framework
@import 'vanilla-framework/scss/build';

// import local overrides
@import 'patterns_navigation';
@include landscape-navigation;

// import local patterns
@import 'patterns_hero';
@include landscape-hero;

.u-full-width {
  max-width: none !important;
  width: 100%;
}

// Fix for full-width global nav
.global-nav .global-nav__strip {
  margin: 0 auto !important;
  max-width: $grid-max-width;
}

// XXX: KW 2018-11-15 - overrides to fix the display of the cookie policy
// Will be fixed when either of the following issues are addressed:
// - https://github.com/canonical-webteam/cookie-policy/issues/14
// - https://github.com/canonical-webteam/cookie-policy/issues/15
.p-notification--cookie-policy {
  .p-notification__content {
    max-width: 100%;
  }

  .p-notification__close {
    top: $spv-inter--condensed-scaleable;
  }
}
