@charset "UTF-8";

//settings
@import 'settings_colors';

// import vanilla-framework
@import 'vanilla-framework/scss/build';

// import local overrides
@import 'patterns_navigation';
@include landscape-navigation;

// import local patterns
@import 'patterns_hero';
@include landscape-hero;

.u-full-width {
  max-width: none !important;
  width: 100%;
}

// Fix for full-width global nav
.global-nav .global-nav__strip {
  margin: 0 auto !important;
  max-width: $grid-max-width;
}
