<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="{% block description %}{% endblock %}" />
    <meta name="author" content="Canonical webteam" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="shortcut icon" href="https://assets.ubuntu.com/v1/0a4479e9-favicon.ico" type="image/x-icon" />

    <title>{% block title %}{% endblock title %}</title>

    <!-- stylesheets -->
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/styles.css" tal:attributes="href attrs/href/@@static-url" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/cookie-policy.css" tal:attributes="href attrs/href/@@static-url" />

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@ubuntulandscape">
    <meta name="twitter:creator" content="@ubuntulandscape">
    <meta name="twitter:domain" content="landscape.canonical.com">
    <meta name="twitter:title" content="Landscape">
    <meta name="twitter:description" content="Landscape is the leading management tool to deploy, monitor and manage your Ubuntu servers.">
    <meta name="twitter:image" content="https://assets.ubuntu.com/v1/a4894b13-landscape-twitter.jpg">
    <tal:provider replace="structure provider:script-viewlet-manager" />
  </head>
  <body>
    <script src="/static/js/global-nav.js"></script>
    <script>
      canonicalGlobalNav.createNav({
        maxWidth: '100%'
      });
    </script>

    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-K9KCMZ"
    height="0" width="0"
    style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-K9KCMZ');</script>
    <!-- End Google Tag Manager --> <!-- TODO: correct GTM code -->


    <header data-js="navigation" id="navigation" class="p-navigation">
      <div class="p-navigation__banner">
        <div class="p-navigation__logo">
          <a class="p-navigation__link" href="/">
            <img class="p-navigation__image" src="https://assets.ubuntu.com/v1/8bf0b005-landscape-logo.svg" alt="Landscape">
          </a>
        </div>
        <a href="#navigation" class="p-navigation__toggle--open" title="menu">Menu</a>
        <a href="#navigation-closed" class="p-navigation__toggle--close" title="close menu">Close menu</a>
      </div>
      <nav class="p-navigation__nav" role="menubar">
        <span class="u-off-screen">
          <a href="#main-content">Jump to main content</a>
        </span>

        <ul class="p-navigation__links" role="menu">
          <li class="p-navigation__link" role="menuitem"><a href="/landscape-features">Features</a></li>
          <li class="p-navigation__link" role="menuitem"><a href="/try-landscape">Try Landscape</a></li>
          <li class="p-navigation__link" role="menuitem"><a href="/set-up-on-prem">Set up on prem</a></li>
          <li class="p-navigation__link" role="menuitem"><a href="https://landscape.canonical.com/static/doc/user-guide/">Docs</a></li>
          <li class="p-navigation__link" role="menuitem"><a href="https://landscape.canonical.com/static/doc/api/">API docs</a></li>
        </ul>
      </nav>
    </header>

    {% block content %}{% endblock content %}

    <footer class="p-footer">
      <div class="row">
        <div class="col-3">
          <h3 class="p-muted-heading">Landscape</h3>
          <ul class="p-list">
            <li class="p-list__item">
              <a href="/" class="footer__link ">Home</a>
            </li>
            <li class="p-list__item">
              <a href="/landscape-features" class="footer__link">Features</a>
            </li>
            <li class="p-list__item">
              <a href="/try-landscape" class="footer__link ">Get Landscape</a>
            </li>
            <li class="p-list__item">
              <a href="/static/doc/user-guide" class="footer__link">Docs</a>
            </li>
            <li class="p-list__item">
              <a href="/static/doc/api" class="footer__link">API docs</a>
            </li>
            <li class="p-list__item">
              <a href="https://help.landscape.canonical.com/" class="footer__link">
                Help</a>
            </li>
          </ul>
        </div>
        <div class="col-5">
          <h3 class="p-muted-heading">Need help?</h3>
          <ul class="p-list">
            <li class="p-list__item">
              <a href="https://www.ubuntu.com/support/plans-and-pricing" class="p-link--external">Learn more about Ubuntu Advantage</a>
            </li>
            <li class="p-list__item">
              <a href="https://buy.ubuntu.com/" class="p-link--external">Buy Ubuntu Advantage</a>
            </li>
          </ul>
        </div>
        <div class="col-4">
          <h3 class="p-muted-heading">Already a customer?</h3>
          <ul class="p-list">
            <li class="p-list__item">
              <a href="login/authenticate">Log in&nbsp;&rsaquo;</a>
            </li>
          </ul>
          <p>If you have any problems accessing your account, please <a href="https://www.ubuntu.com/contact-us">contact us</a>.
          </p>
        </div>
      </div>


      <nav class="p-footer__nav row">
        <p class="u-full-width">&copy; 2005-2018 Canonical Ltd. <a href="https://www.ubuntu.com"> Ubuntu</a> and <a href="https://www.canonical.com">Canonical</a> are registered trademarks of Canonical Ltd.</p>
        <ul class="p-footer__links">
          <li class="p-footer__item">
            <a class="p-footer__link" href="https://www.ubuntu.com/legal">Legal information</a>
          </li>
          <li class="p-footer__item">
            <a class="p-footer__link" href="https://www.ubuntu.com/legal/terms-and-policies/privacy-policy#cookies">Cookie policy</a>
          </li>
          <li class="p-footer__item">
            <a class="p-footer__link" href="https://github.com/canonical-websites/landscape.canonical.com/issues/new">Report a bug on this site</a>
          </li>
        </ul>

        <span class="u-off-screen">
          <a href="#">
            Go to the top of the page
          </a>
        </span>
      </nav>
    </footer>

    <script src="/static/js/cookie-policy.js"></script>
    <script>
      var options = {
        'content': 'We use cookies to improve your experience. By your continued use of this site you accept such use.<br /> This notice will disappear by itself. To change your settings please <a href="https://www.ubuntu.com/legal/terms-and-policies/privacy-policy#cookies">see our policy</a>.',
        'duration': 10000
      }
      ubuntu.cookiePolicy.setup(options);
    </script>
  </body>
</html>
